/JavaApplication6/nbproject/private/
/Teachings/nbproject/private/
/Teachings/build/
/GPA/nbproject/private/
/program1/nbproject/private/
/program1/build/
/GPA/build/
/Program2/nbproject/private/
/Program2/build/